<div class="container">
    <div class="opt_container">
        <select class="option_select">
            <option value="">Select your country...</option>
            <option value="America">America</option>
            <option value="China">China</option>
            <option value="Denmark">Denmark</option>
            <option value="Israel">Israel</option>
            <option value="Japan">Japan</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Zimbabwe">Zimbabwe</option>
        </select>
    </div>
    <div class="sel_container">
        <label class="gender_label">
            <input type="radio" name="gender" value="male" class="gender" />
            Male
        </label>
        <label class="gender_label">
            <input type="radio" name="gender" value="female" class="gender" />
            Female
        </label>
    </div>
</div>