<div class="discontainer">
  <div class="box-container">
    <h3>INLINE</h3>
    <div class="inline">Num1</div>
  </div>
  <div class="box-container">
    <h3>BLOCK</h3>
    <div>
      <div class="block">Num1</div>
      <div class="block">Num2</div>
      <div class="block">Num3</div>
    </div>
  </div>
  <div class="box-container">
    <h3>INLINE-BLOCK</h3>
    <div>
      <div class="inlineblock">Num1</div>
      <div class="inlineblock">Num2</div>
      <div class="inlineblock">Num3</div>
    </div>
  </div>
  <div class="box-container">
    <h3>FLEX</h3>
    <div class="flex">
      <div>Num1</div>
      <div>Num2</div>
      <div>Num3</div>
    </div>
  </div>
  <div class="box-container">
    <h3>GRID</h3>
    <div class="grid">
      <div class="grid-content1">Num1</div>
      <div class="grid-content2">Num2</div>
      <div class="grid-content3">Num3</div>
    </div>
  </div>
</div>
