<div class="input_container">
      <div class="field">
        <label>
          <span class="field_label">Gmail:</span>
          <input type="gmail" name="myInput" />
        </label>
      </div>

      <div class="field">
        <label>
          <span class="field_label">Checkbox:</span>
          <input type="checkbox" name="myCheckbox" />
        </label>
      </div>

      <div class="field">
        <span class="field_label">Choose an option</span>
        <label>
          <input type="radio" name="myRadio" value="option1" />
          Option 1
        </label>
        <label>
          <input type="radio" name="myRadio" value="option2" />
          Option 2
        </label>
        <label>
          <input type="radio" name="myRadio" value="option3" />
          Option 3
        </label>
      </div>
    </div>