<div class="container">
    <div class="button-container">
        <button class="Primary Priactive" (click)="handleClick()">Primary</button>
        <button class="Secondary Secactive" (click)="handleClick()">Secondary</button>
        <button class="Tertiary Teractive" (click)="handleClick()">Tertiary</button>
        <button class="Primary pri_disable">Primary</button>
        <button class="Secondary sec_disable">Secondary</button>
        <button class="Tertiary ter_disable">Tertiary</button>
    </div>
</div>